@media screen and (max-width: 1200px){
    /* hero */
    .hero-container{
        width: 60%;
    }
    .hero-container h1{
        font-size: 45px;
    }
    /* hero end */

    /* movie card */
    .home-content__movie-card{
        grid-template-columns: repeat(4, 1fr);
    }
    .movie-card{
        width: 200px;
    }
    .movie-card img{
        height: 300px;
        width: 200px;
    }
    /* movie card end */
    /* footer */
    .footer-container{
        width: 90%;
    }
    .footer-widgets{
        grid-template-columns: repeat(1, 2fr 7fr);
    }
    .footer-features{
        grid-template-columns: repeat(1, 2fr 2fr 3fr);
    }
    /* footer end */
}
@media screen and (max-width: 1000px){
    /* movie card */
    .home-content__movie-card{
        grid-template-columns: repeat(4, 1fr);
    }
    .movie-card{
        width: 180px;
    }
    .movie-card img{
        height: 270px;
        width: 180px;
    }
    /* movie card end */
}
@media screen and (max-width: 900px){
    /* hero */
    .hero-container{
        width: 70%;
    }
    .hero-container h1{
        font-size: 40px;
    }
    /* hero end*/

    /* movie card */
    .home-content__movie-card{
        grid-template-columns: repeat(3, 1fr);
    }
    .movie-card{
        width: 200px;
    }
    .movie-card img{
        height: 300px;
        width: 200px;
    }
    /* movie card end */

    /* footer */
    .footer-container{
        width: 75%;
    }
    .footer-widgets{
        display: flex;
        flex-direction: column;
    }
    .footer-features{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-feature{
        margin-top: 30px;
    }
    .footer-feature__items{
        margin-top: 20px;
    }
    /* footer end */

    /* detail page */
    .detail-img{
        width: 180px;
        height: 280px;
    }
    /* detail page end */

}
@media screen and (max-width: 800px){
    /* hero */
    .hero-container{
        width: 90%;
    }
    /* hero end */

    /* movie card */
    .home-content__movie-card{
        grid-template-columns: repeat(3, 1fr);
    }
    .movie-card{
        width: 160px;
    }
    .movie-card img{
        height: 240px;
        width: 160px;
    }
    /* movie card end */
}



@media screen and (max-width: 650px) {
    /* navbar */
    .app-bar{
        display: flex;
        justify-content: space-between;
        padding: 20px 7%;
    }
    .app-bar .app-bar__navigation{
        position: fixed;
        top: 70px;
        margin-left: 0px;
        left: -400px;
        height: 100%;
        background-color: #0E1417;
        width: 50%;
        align-items: baseline;
        transition: all 0.3s;
    }
    .app-bar .app-bar__navigation ul li {
        display: block;
        padding: 10px;
        margin-top: -1px;
    }
    .app-bar .app-bar__menu {
        display: flex;
        align-items: center;
    }
    /* navbar end */

    /* hero */
    .hero{
        padding: 50px;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .hero-container h1, .hero-container p{
        display: none;
    }
    .hero-logo{
        display: block;
        margin: 0px auto;
        text-align: center;
    }
    .hero-logo img{
        display: inline-block;
        width: 250px;
        height: 250px;
    }
    .hero-logo p{
        display: inline-block;
    }
    /* hero end */

    /* movie card */
    .home-content{
        padding: 30px 10px;
    }
    .home-content h2{
        text-align: center;
    }
    .home-content__movie-card{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2px;
    }
    .movie-card{
        margin-top: 30px;
        width: 200px;
    }
    .movie-card img{
        height: 300px;
        width: 200px;
        border-radius: 10px;
    }
    /* movie card end */

    /* detail page */
    .detail-container{
        grid-template-columns: none;
    }
    .detail-title, .detail-tagline{
        text-align: center;
    }
    .detail__add-info{
        justify-content: center;
    }
    .detail__add-info__container{
        display: flex;
        align-items: center;
    }
    .detail-vote{
        margin-left: 10px;
        font-size: 16px;
    }
    .detail__add-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .like-button{
        margin: 10px auto;
    }
    .detail-img{
        margin: 0 auto;
        width: 300px;
        height: 470px;
    }
    /* detail page end */
}



@media screen and (max-width: 520px){
    /* hero */
    .hero-container{
        width: 100%;
    }
    .hero-logo img{
        display: inline-block;
        width: 200px;
        height: 200px;
    }
    .hero-logo p{
        display: inline-block;
        font-size: 35px;
    }
    /* hero end */

    /* movie card */
    .movie-card{
        margin-top: 30px;
        width: 160px;
    }
    .movie-card img{
        height: 240px;
        width: 160px;
        border-radius: 10px;
    }
    /* movie card end */

    /* footer */
    .footer-copyright{
        font-size: 10px;
        padding: 15px 0;

    }
    /* footer end */
}
@media screen and (max-width: 400px){
    /* movie card */
    .movie-card{
        margin-top: 30px;
        width: 120px;
    }
    .movie-card img{
        height: 210px;
        width: 140px;
        border-radius: 10px;
    }
    /* movie card end */

    /* detail page */
    .detail-title{
        font-size: 26px;
    }
    .detail-img{
        width: 240px;
        height: 370px;
    }
    .more-detail-info{
        display: flex;
        flex-direction: column;
    }
    /* detail page end */
}
@media screen and (max-width: 350px){
    /* movie card */
    .home-content__movie-card{
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-card{
        margin-top: 30px;
        width: 120px;
    }
    .card__add-info{
        font-size: 10px;
    }
    .movie-card img{
        height: 180px;
        width: 120px;
        border-radius: 10px;
    }
    .movie-title{
        font-size: 14px;
    }
    /* movie card end */
}

